<footer class="footer-main mt-5">
    <div class="container text-center">
        <p>&copy <span id = 'year'>
            
        </span> copy right by <a href="#">Khac Canh</a> </p>
    </div>

</footer>