<footer class="footer-main mt-5">
    <div class="container contact">
        <div class="emailaddress">
            <input type="email" placeholder="Email Address" class="form-control">
            <i class="fa fa-arrow-circle-right"></i>
        </div>
        <ul>
            <li>
                <i class="fa fa-facebook"></i>
            </li>
            <li>
                <i class="fa fa-google"></i>
            </li>
        </ul>

    </div>
    <div class="container text-center">
        <p>&copy <span id = 'year'>
            
        </span> copy right by <a href="#">Khac Canh</a> </p>
    </div>

</footer>