<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart(
              <span id="numCart1">
                <span id="numCart2">
                  <%
                  if(session.cart){%>
                      <%= session.cart.items.length %>
                    <%}
                    else{%>
                      0
                  <%}
                   %>
                </span>
              </span>
            )</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/user/login">Login</a></li>
              <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/user/register">Regiter</a></li>
              
              <li><a class="dropdown-item" href="/user">List user</a></li>
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>